{% extends "orders/base.html" %}
{% load static %}
{% block head %}
<title>Your cart</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<section class="home-slider owl-carousel img" style="background-image: url({% static 'orders/images/bg_1.jpg' %});">

  <div class="slider-item" style="background-image: url({% static 'orders/images/bg_3.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">

        <div class="col-md-7 col-sm-12 text-center ftco-animate">
          <h1 class="mb-3 mt-5 bread">Cart</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Contact</span></p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="ftco-section contact-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2 class="mb-4">Your Cart</h2>
        <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
        <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <h4>Pizzas</h4>
        {% for pizza in pizzas %}
        <div class="pricing-entry d-flex ftco-animate">
          <div class="desc pl-3">
            <div class="d-flex text align-items-center">
              <h3><span>{{pizza.display }} {{ pizza.name }} <select>
                    <option value="{{pizza.price_small}}">Small</option>
                    <option selected value="{{pizza.price_large}}">Large</option>
                  </select></span></h3>
              <span class="price">{{pizza.price_large}}</span>
            </div>
            <div class="d-block" style="text-align:right">
              <p><button class="btn btn-white btn-outline-white" name="{{pizza.name}}" category="{{pizza.type}}">Remove</button></p>
            </div>
            <div class="d-block">
              <p>A small river named Duden flows by their place and supplies</p>
            </div>
          </div>
        </div>
        {% endfor %}

        <h4>Pastas</h4>
        {% for pasta in pastas %}
        <div class="pricing-entry d-flex ftco-animate">
          <div class="desc pl-3">
            <div class="d-flex text align-items-center">
              <h3><span>{{ pasta.name }}</span></h3>
              <span class="price">{{ pasta.price }}</span>
            </div>
            <div class="d-block" style="text-align:right">
              <p><button class="btn btn-white btn-outline-white" name="{{pasta.name}}" type="pasta">Remove</button></p>
            </div>
            <div class="d-block">
              <p>A small river named Duden flows by their place and supplies</p>
            </div>
          </div>
        </div>
        {% endfor %}

        <h4>Salads</h4>
        {% for salad in salads %}
        <div class="pricing-entry d-flex ftco-animate">
          <div class="desc pl-3">
            <div class="d-flex text align-items-center">
              <h3><span>{{ salad.name }}</span></h3>
              <span class="price">{{ salad.price }}</span>
            </div>
            <div class="d-block" style="text-align:right">
              <p><button class="btn btn-white btn-outline-white" name="{{salad.name}}" type='salad'>Remove</button></p>
            </div>
            <div class="d-block">
              <p>A small river named Duden flows by their place and supplies</p>
            </div>
          </div>
        </div>
        {% endfor %}

        <h4>Dinner Platters</h4>
        {% for dinner_platter in dinner_platters %}
        <div class="pricing-entry d-flex ftco-animate">
          <div class="desc pl-3">
            <div class="d-flex text align-items-center">
              <h3><span>{{ dinner_platter.name }} <select>
                    <option value="${{dinner_platter.price_small}}">Small</option>
                    <option selected value="${{dinner_platter.price_large}}">Large</option>
                  </select></span></h3>
              <span class="price">{{dinner_platter.price_large}}</span>
            </div>
            <div class="d-block" style="text-align:right">
              <p><button class="btn btn-white btn-outline-white" name="{{dinner_platter.name}}" type='dinner_platter'>Remove</button></p>
            </div>
            <div class="d-block">
              <p>A small river named Duden flows by their place and supplies</p>
            </div>
          </div>
        </div>
        {% endfor %}
        <div style="text-align:center;">
          <button type="button" class="btn btn-primary py-3 px-5" data-toggle="modal" data-target="#exampleModalLong">Order</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        {% for pizza in pizzas %}
        <p>{{pizza.display }} {{pizza.name}}</p>
        {% endfor %}
        {% for pasta in pastas %}
        <p>{{ pasta.name }}</p>
        {% endfor %}
        {% for salad in salads %}
        <p>{{salad.name}}</p>
        {% endfor %}
        {% for dinner_platter in dinner_platters %}
        <p>{{ dinner_platter.name }}</p>
        {% endfor %}
        <p style="text-align:center">Total: <script type="text/javascript">
            var total = 0;
            document.querySelectorAll('.price').forEach(price => {
              total += parseFloat(price.innerHTML);
            })
            document.write(total);
          </script>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id='confirm'>Place Your Order</button>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'orders/js/cart.js' %}"></script>
{% endblock %}
