{% extends "orders/base.html" %}
{% load static %}
{% block head %}
<title>Your cart</title>
{% endblock %}

{% block body %}
<section class="home-slider owl-carousel img" style="background-image: url({% static 'orders/images/bg_1.jpg' %});">

  <div class="slider-item" style="background-image: url({% static 'orders/images/bg_3.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">

        <div class="col-md-7 col-sm-12 text-center ftco-animate">
          <h1 class="mb-3 mt-5 bread">Cart</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Contact</span></p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="ftco-section contact-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2 class="mb-4">Your Cart</h2>
        <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
        <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <h4>Pizzas</h4>
        {% for pizza in pizzas %}
        <div class="pricing-entry d-flex ftco-animate">
          <div class="desc pl-3">
            <div class="d-flex text align-items-center">
              <h3><span>{{pizza.display }} {{ pizza.name }} <select>
                    <option value="1">Small</option>
                    <option selected value="2">Large</option>
                  </select></span></h3>
              <span class="price">$20.00</span>
            </div>
            <div class="d-block">
              <p>A small river named Duden flows by their place and supplies</p>
            </div>
          </div>
        </div>
        {% endfor %}

        <h4>Pastas</h4>
        {% for pasta in pastas %}
        <div class="pricing-entry d-flex ftco-animate">
          <div class="desc pl-3">
            <div class="d-flex text align-items-center">
              <h3><span>{{ pasta.name }}</span></h3>
              <span class="price">${{ pasta.price }}</span>
            </div>
            <div class="d-block">
              <p>A small river named Duden flows by their place and supplies</p>
            </div>
          </div>
        </div>
        {% endfor %}

        <h4>Salads</h4>
        {% for salad in salads %}
        <div class="pricing-entry d-flex ftco-animate">
          <div class="desc pl-3">
            <div class="d-flex text align-items-center">
              <h3><span>{{ salad.name }}</span></h3>
              <span class="price">${{ salad.price }}</span>
            </div>
            <div class="d-block">
              <p>A small river named Duden flows by their place and supplies</p>
            </div>
          </div>
        </div>
        {% endfor %}

        <h4>Dinner Platters</h4>
        {% for dinner_platter in dinner_platters %}
        <div class="pricing-entry d-flex ftco-animate">
          <div class="desc pl-3">
            <div class="d-flex text align-items-center">
              <h3><span>{{ dinner_platter.name }} <select>
                    <option value="1">Small</option>
                    <option selected value="2">Large</option>
                  </select></span></h3>
              <span class="price">$20.00</span>
            </div>
            <div class="d-block">
              <p>A small river named Duden flows by their place and supplies</p>
            </div>
          </div>
        </div>
        {% endfor %}
        <div style="text-align:center;">
          <button type="button" class="btn btn-primary py-3 px-5">Order</button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
