{% extends "orders/base.html" %}
{% load static %}
{% block head %}
<title>Our Menu</title>
{% endblock %}

{% block body %}
<section class="home-slider owl-carousel img" style="background-image: url({% static 'orders/images/bg_1.jpg' %});">

  <div class="slider-item" style="background-image: url({% static 'orders/images/bg_3.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">

        <div class="col-md-7 col-sm-12 text-center ftco-animate">
          <h1 class="mb-3 mt-5 bread">Our Menu</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Menu</span></p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2 class="mb-4">Our Menu Pricing</h2>
        <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p><br>
        <h2 class="mb-4">Pizza</h2>
        <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Regular</h3>
        {% for pizza in pizzas|slice:":5" %}
        <div class="pricing-entry d-flex ftco-animate">
          <div class="img" style="background-image: url({{ pizza.url }});"></div>
          <div class="desc pl-3">
            <div class="d-flex text align-items-center">
              <h3><span>{{pizza.name}}</span></h3>
              <span class="price">{{pizza.price_small}}</span>
              <span class="price">{{pizza.price_large}}</span>
            </div>
            <div class="d-block" style="text-align:right">
              <p><button class="btn btn-white btn-outline-white" name="{{pizza.name}}" category="RL">Add to cart</button></p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="col-md-6">
        <h3>Sicilian</h3>
        {% for pizza in pizzas|slice:"5:" %}
        <div class="pricing-entry d-flex ftco-animate">
          <div class="img" style="background-image: url({{ pizza.url }});"></div>
          <div class="desc pl-3">
            <div class="d-flex text align-items-center">
              <h3><span>{{pizza.name}}</span></h3>
              <span class="price">{{pizza.price_small}}</span>
              <span class="price">{{pizza.price_large}}</span>
            </div>
            <div class="d-block" style="text-align:right">
              <p><button class="btn btn-white btn-outline-white" name="{{pizza.name}}" category="SC">Add to cart</button></p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
        <h2 class="mb-4">Topping</h2>
        <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        {% for topping in toppings %}
        {% if forloop.counter|divisibleby:5 %}
      </div>
      <div class="col-md-3">
        {% endif %}
        <div class="pricing-entry d-flex ftco-animate">
          <h6><span>{{topping.name}}</span></h6>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
        <h2 class="mb-4">Subs</h2>
        <p class="mt-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% for sub in subs %}
        {% if forloop.counter|divisibleby:11 %}
      </div>
      <div class="col-md-6">
        {% endif %}
        <div class="pricing-entry d-flex ftco-animate">
          <div class="d-flex text align-items-center">
            <h3><span>{{ sub.name }}</span></h3>
            <span class="price">{{ sub.price_small }}</span>
            <span class="price">{{ sub.price_large }}</span>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>



</section>

<section class="ftco-menu">
  <div class="container-fluid">
    <div class="row d-md-flex">
      <div class="col-lg-4 ftco-animate img f-menu-img mb-5 mb-md-0" style="background-image: url({% static 'orders/images/about.jpg' %});">
      </div>
      <div class="col-lg-8 ftco-animate p-md-5">
        <div class="row">
          <div class="col-md-12 nav-link-wrap mb-5">
            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Salad</a>

              <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Dinner Platter</a>

              <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Dinner Platter</a>

              <a class="nav-link" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Pasta</a>
            </div>
          </div>
          <div class="col-md-12 d-flex align-items-center">

            <div class="tab-content ftco-animate" id="v-pills-tabContent">

              <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                <div class="row">
                  {% for salad in salads %}
                  <div class="col-md-4 text-center">
                    <div class="menu-wrap">
                      <a href="#" class="menu-img img mb-4" style="background-image: url({{ salad.url}});"></a>
                      <div class="text">
                        <h3><a href="#">{{ salad.name }}</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        <p class="price"><span>{{ salad.price }}</span></p>
                        <p><button class="btn btn-white btn-outline-white" name="{{salad.name}}">Add to cart</button></p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                <div class="row">
                  {% for dinner_platter in dinner_platters|slice:":3" %}
                  <div class="col-md-4 text-center">
                    <div class="menu-wrap">
                      <a href="#" class="menu-img img mb-4" style="background-image: url({{ dinner_platter.url }});"></a>
                      <div class="text">
                        <h3><a href="#">{{ dinner_platter.name }}</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        <p class="price"><span class="mx-3">{{ dinner_platter.price_small}}</span><span class="mx-3">{{ dinner_platter.price_large}}</span></p>
                        <p><button class="btn btn-white btn-outline-white" name="{{ dinner_platter.name }}">Add to cart</button></p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                <div class="row">
                  {% for dinner_platter in dinner_platters|slice:"3:" %}
                  <div class="col-md-4 text-center">
                    <div class="menu-wrap">
                      <a href="#" class="menu-img img mb-4" style="background-image: url({{ dinner_platter.url }});"></a>
                      <div class="text">
                        <h3><a href="#">{{ dinner_platter.name }}</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        <p class="price"><span class="mx-3">{{ dinner_platter.price_small}}</span><span class="mx-3">{{ dinner_platter.price_large}}</span></p>
                        <p><button class="btn btn-white btn-outline-white" name="{{ dinner_platter.name }}">Add to cart</button></p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>


              <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-4-tab">
                <div class="row">
                  {% for pasta in pastas %}
                  <div class="col-md-4 text-center">
                    <div class="menu-wrap">
                      <a href="#" class="menu-img img mb-4" style="background-image: url({{pasta.url}});"></a>
                      <div class="text">
                        <h3><a href="#">{{pasta.name}}</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                        <p class="price"><span>{{pasta.price}}</span></p>
                        <p><button class="btn btn-white btn-outline-white" name="{{ pasta.name }}">Add to cart</button></p>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
