<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
  </head>
  <body>
    <form action="" method="POST">
      <legend>Log In</legend>
      {% csrf_token %}
      <fieldset>
        {{ form }}
      </fieldset>
      <div>
        <button>Login</button>
      </div>
    </form>
    <div>
      <small>
        Need an Account ? <a href="{% url 'register' %}">Sign Up now</a>
      </small>
    </div>
  </body>
</html>
